body{
  background-color:grey;
  color:white;
  font-family:IBM Plex Mono;
}
h2{
  display:inline;
}
#start{
  padding:-5px;
}
#timeDiv{
  display:inline-block;
  padding:2px;
}
#breakDiv{
  display:inline-block;
}
#title1{
  font-size:15px;
}
.box{
  width:200px;
  height:100px;
  background-color:red;
  margin:auto;
  border-radius:100px;
  padding:5px;
}
.center1{
  position:relative;
  margin:auto;
  top:50%;
  transform: translateY(-50%);
  text-size:50px;
}
